<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bitcoin_analysis_image_1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Bitcoin Analysis </h3>
    <ul>
      <li> Linear Regression </li>
    </ul>
    <p>Looking at the relationship of bitcoin prices with tweets and see if bitcoin tweets can predict the price of the cryptocurrency</p>
    <a class="project-link" href="https://github.com/johngncook/Bitcoin-Analysis">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/WeRateDogs.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> We Rate Dogs Analysis </h3>
    <ul>
      <li> Data Cleaning</li>
    </ul>
    <p>Project from Udacity's Data Analyst Nanodegree Course to gather, clean, and analyze twitter data from the twitter handle WeRateDogs.</p>
    <a class="project-link" href="https://github.com/johngncook/WeRateDogs-Analysis">Check it out</a>
  </div>
</div>
