<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bitcoin-2007769_1920.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Bitcoin Analysis </h3>
    <ul>
      <li> EDA and Linear Regression </li>
    </ul>
    <p>Looking at the relationship of bitcoin prices with tweets and see if bitcoin tweets can predict the price of the cryptocurrency</p>
    <a class="project-link" href="https://github.com/johngncook/Bitcoin-Analysis">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/labrador-retriever-1210559_1920.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Automotive Company Subreddit Sentiment Analysis </h3>
    <ul>
      <li> Text Analytics and NLP </li>
    </ul>
    <p> A sentiment analysis comparing the two automotive manufacturers Tesla and Honda's subreddit posts.</p>
    <a class="project-link" href="https://github.com/johngncook/auto-subreddit-sentiment">Check it out</a>
  </div>
</div>
